.picsum-img-wrapper img {
  width: 100%;      /* chiếm hết chiều rộng cha */
  height: 500px;     /* chiếm hết chiều cao cha */
  object-fit: cover; /* giữ tỉ lệ, không méo ảnh */
}
.ngb-carousel, 
.ngb-carousel .carousel-inner, 
.ngb-carousel .carousel-item, 
.ngb-carousel img {
  width: 100%;
  height: 500px; /* hoặc 100vh nếu muốn full màn hình */
}
