/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* ẩn thanh scroll web */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}